@font-face {
	font-family: 'Circular Std Book';
	src: url('fonts/CircularStd-Book.eot');
	src: url('fonts/CircularStd-Book.eot?#iefix') format('embedded-opentype'),
		url('fonts/CircularStd-Book.woff2') format('woff2'),
		url('fonts/CircularStd-Book.woff') format('woff'),
		url('fonts/CircularStd-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kepler Std';
	src: url('fonts/KeplerStd-Regular.eot');
	src: url('fonts/KeplerStd-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/KeplerStd-Regular.woff2') format('woff2'),
		url('fonts/KeplerStd-Regular.woff') format('woff'),
		url('fonts/KeplerStd-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Kepler Std';
	src: url('fonts/KeplerStd-Light.eot');
	src: url('fonts/KeplerStd-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/KeplerStd-Light.woff2') format('woff2'),
		url('fonts/KeplerStd-Light.woff') format('woff'),
		url('fonts/KeplerStd-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}