@import "kouto-swiss"

@import "fonts"
@import "helpers"

meyer-reset()
box-sizing-reset()
normalize()


$cols = 12
$col = 70px
$gutter = 16px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clear: both
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
  box-sizing: content-box
  min-height: 1px
for col in 1..$cols
  .col-{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )


// FLUID COLS

.percent-col
  float: left
  box-sizing: content-box
$pcols = 10
for pcol in 1..$pcols
  .s-into-{pcol}
    width: ( 100% / pcol )

@media screen and (min-width: 601px)

  for pcol in 1..$pcols
    .m-into-{pcol}
      width: ( 100% / pcol )

@media screen and (min-width: 993px)

  for pcol in 1..$pcols
    .l-into-{pcol}
      width: ( 100% / pcol )


// VARIABLES

$golden-ratio = 1.61803398875

$margin-small = ($gutter)
$margin-tiny = ($gutter / 2)
$margin-basic = ($gutter * 2)
$margin-large = ($gutter * 5)

$font-size-basic = 30px
$font-leading-basic = 1.35em
$font-tracking-basic = -0.005em

$color-black-soft = rgb(14, 14, 14)
$color-white-soft = rgb(253, 253, 253)

$color-blue = rgb(1, 37, 243)


// TYPOGRAPHY

body
  font-family: 'Kepler Std', serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

.font-sans
  font-family: 'Circular Std Book', serif

.font-mono
  font-size: 0.6em
  line-height: $font-leading-basic
  font-family: monospace

h1, h2, h3, h4, h5, h6
  margin: 0.1em 0

h1
  font-size: 2em

h2
  font-size: 1.8em

h3
  font-size: 1.2em

h4
  font-size: 0.6em
  line-height: $font-leading-basic
  font-family: monospace

p
  margin-bottom: 1em


// LINKS

a, a:active, a:visited
  color: $color-blue
  text-decoration: none

a.color-black
  color: $color-black-soft

// BASIC

html
  background-color: $color-white-soft
  color: $color-black-soft

img
  max-width: 100%
  height: auto


// HEADER

#header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 999
  padding: $margin-basic 0 $margin-basic 0
  background-color: $color-white-soft

.language-chooser
  font-size: 0.4em
  text-transform: uppercase
  line-height: $font-leading-basic
  font-family: monospace
  li
    display: inline-block

// FOOTER

#footer
  display: none
  position: fixed
  bottom: 0
  left: 0
  right: 0
  z-index: 999

.page, .single
  #footer
    display: block


// FIXED ELEMENTS

#gradient
  position: fixed
  top: 0
  right: 0
  bottom: 0
  width: 10%
  background-image: linear-gradient(to right, rgba(230,230,230,0) 0%,rgba(216,216,216,0.33) 33%,rgba(63,63,63,0.7) 70%,rgba(19,19,19,1) 100%)

#loading
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 666
  background-color: $color-white-soft


// LAYOUT

#subheader
  display: none
  margin-top: $margin-small

.blog
  #subheader
    display: block


// COLLECTIONS

.collection
  margin-bottom: $margin-basic

.collection-book
  font-size: 0.6em
  line-height: $font-leading-basic
  font-family: monospace
  margin-bottom: $margin-small

.book-date
  text-transform: capitalize
  display: block

// MEDIA QUERIES

@media screen and (max-width: ($col * $cols)+($gutter * $cols))

  html
    width: 100%

@media screen and (max-width: 601px)

  .container
    width: 96%

  .col
    width: 100%
    float: none
    margin-left: ($gutter/2)
    box-sizing: content-box

  #gradient
    display: none