@font-face {
  font-family: 'Circular Std Book';
  src: url("fonts/CircularStd-Book.eot");
  src: url("fonts/CircularStd-Book.eot?#iefix") format('embedded-opentype'), url("fonts/CircularStd-Book.woff2") format('woff2'), url("fonts/CircularStd-Book.woff") format('woff'), url("fonts/CircularStd-Book.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kepler Std';
  src: url("fonts/KeplerStd-Regular.eot");
  src: url("fonts/KeplerStd-Regular.eot?#iefix") format('embedded-opentype'), url("fonts/KeplerStd-Regular.woff2") format('woff2'), url("fonts/KeplerStd-Regular.woff") format('woff'), url("fonts/KeplerStd-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Kepler Std';
  src: url("fonts/KeplerStd-Light.eot");
  src: url("fonts/KeplerStd-Light.eot?#iefix") format('embedded-opentype'), url("fonts/KeplerStd-Light.woff2") format('woff2'), url("fonts/KeplerStd-Light.woff") format('woff'), url("fonts/KeplerStd-Light.ttf") format('truetype');
  font-weight: 300;
  font-style: normal;
}
.u-hidden {
  display: none !important;
  visibility: hidden;
}
.u-visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.u-visuallyhidden.u-focusable:active,
.u-visuallyhidden.u-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.u-invisible {
  visibility: hidden;
}
.row:before,
.row:after,
.u-cf:before,
.u-cf:after {
  content: " ";
/* 1 */
  display: table;
/* 2 */
}
.row:after,
.u-cf:after {
  clear: both;
}
.u-video-embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.u-video-embed-container iframe,
.u-video-embed-container object,
.u-video-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
html {
  overflow-y: scroll;
}
.u-inline-block {
  display: inline-block;
}
ul.u-inline-list li {
  display: inline-block;
}
.u-fixed {
  position: fixed;
}
.u-pointer:hover {
  cursor: pointer;
}
.u-align-left {
  text-align: left;
}
.u-align-right {
  text-align: right;
}
.u-align-center {
  text-align: center;
}
.u-holder {
  display: table;
  width: 100%;
  height: 100%;
}
.u-held {
  display: table-cell;
  vertical-align: middle;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1032px;
}
.row {
  clear: both;
}
.col {
  float: left;
  margin-left: 8px;
  margin-right: 8px;
  box-sizing: content-box;
  min-height: 1px;
}
.col-1 {
  width: 70px;
}
.col-2 {
  width: 156px;
}
.col-3 {
  width: 242px;
}
.col-4 {
  width: 328px;
}
.col-5 {
  width: 414px;
}
.col-6 {
  width: 500px;
}
.col-7 {
  width: 586px;
}
.col-8 {
  width: 672px;
}
.col-9 {
  width: 758px;
}
.col-10 {
  width: 844px;
}
.col-11 {
  width: 930px;
}
.col-12 {
  width: 1016px;
}
.percent-col {
  float: left;
  box-sizing: content-box;
}
.s-into-1 {
  width: 100%;
}
.s-into-2 {
  width: 50%;
}
.s-into-3 {
  width: 33.333333333333336%;
}
.s-into-4 {
  width: 25%;
}
.s-into-5 {
  width: 20%;
}
.s-into-6 {
  width: 16.666666666666668%;
}
.s-into-7 {
  width: 14.285714285714286%;
}
.s-into-8 {
  width: 12.5%;
}
.s-into-9 {
  width: 11.11111111111111%;
}
.s-into-10 {
  width: 10%;
}
@media screen and (min-width: 601px) {
  .m-into-1 {
    width: 100%;
  }
  .m-into-2 {
    width: 50%;
  }
  .m-into-3 {
    width: 33.333333333333336%;
  }
  .m-into-4 {
    width: 25%;
  }
  .m-into-5 {
    width: 20%;
  }
  .m-into-6 {
    width: 16.666666666666668%;
  }
  .m-into-7 {
    width: 14.285714285714286%;
  }
  .m-into-8 {
    width: 12.5%;
  }
  .m-into-9 {
    width: 11.11111111111111%;
  }
  .m-into-10 {
    width: 10%;
  }
}
@media screen and (min-width: 993px) {
  .l-into-1 {
    width: 100%;
  }
  .l-into-2 {
    width: 50%;
  }
  .l-into-3 {
    width: 33.333333333333336%;
  }
  .l-into-4 {
    width: 25%;
  }
  .l-into-5 {
    width: 20%;
  }
  .l-into-6 {
    width: 16.666666666666668%;
  }
  .l-into-7 {
    width: 14.285714285714286%;
  }
  .l-into-8 {
    width: 12.5%;
  }
  .l-into-9 {
    width: 11.11111111111111%;
  }
  .l-into-10 {
    width: 10%;
  }
}
body {
  font-family: 'Kepler Std', serif;
  font-size: 30px;
  line-height: 1.35em;
  letter-spacing: 0.001em;
}
.font-sans {
  font-family: 'Circular Std Book', serif;
}
h1 {
  font-size: 1.5em;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.1em;
}
p {
  margin-bottom: 1em;
}
a,
a:active,
a:visited {
  color: inherit;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
a:hover,
a:active:hover,
a:visited:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}
html {
  background-color: #fdfdfd;
  color: #0e0e0e;
}
img {
  max-width: 100%;
  height: auto;
}
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#footer {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.page #footer,
.single #footer {
  display: block;
}
#gradient {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10%;
  background-image: -webkit-linear-gradient(left,rgba(255,255,255,0) 0%,rgba(216,216,216,0.33) 33%,rgba(63,63,63,0.7) 70%,#131313 100%);
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(216,216,216,0.33) 33%, rgba(63,63,63,0.7) 70%, #131313 100%);
  background-image: linear-gradient(to right,rgba(255,255,255,0) 0%,rgba(216,216,216,0.33) 33%,rgba(63,63,63,0.7) 70%,#131313 100%);
}
#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
}
#subheader {
  display: none;
}
.index #subheader {
  display: block;
}
#main-content {
  margin-top: 80px;
}
@media screen and (max-width: 1032px) {
  html {
    width: 100%;
  }
}
@media screen and (max-width: 601px) {
  .container {
    width: 96%;
  }
  .col {
    width: 100%;
    float: none;
    margin-left: 8px;
    box-sizing: content-box;
  }
  #gradient {
    display: none;
  }
}
